<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/spaceicon.png') }}" type="image/x-icon"/>
        <title>QR Code Reader</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>QR Code Reader <span class="switchto"><a href="/">/ Generator ➜</a></span></h1>
        <div id="notification"></div>
        <div class="main">
            <div class="mainpanel">
                <h3>Upload QR Code to Read</h3>
                <div id="readerpanel">
                    <img id="qrimage" src="{{ url_for('static', filename='images/blank.png') }}" alt="A QR Code to be read">
                    <p id="decodedmessage"></p>
                </div>
                <form id="uploadform" action="{{ url_for('uploadQR')}}" enctype="multipart/form-data" method="post">
                    <input id="uploadfile" type="file" name="filename" accept="image/*">
                    <input id="uploadbutton" type="submit" value="Upload">
                </form>
            </div>
        </div>
        <p id="appversion">QR Code / v1.1a-1 / Reader (OpenCV)</p>
        <script type="text/javascript" src="{{ url_for('static', filename='js/reader.js') }}"></script>
    </body>
</html>